.product_card {
  padding: 20px;
  width: 350px;
  min-height: 300px;
  box-shadow: 8px 8px 8px 10px rgba(29, 25, 47, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  /* margin-top: 10px; */
  margin: 4px;
  flex: 1 1 18%;
  border: 0.5px black transparent solid;
  /* background: rgb(93, 91, 91) ; */
}

.product_image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding-bottom: 5px;
  border: 0.1px rgba(0, 0, 0, 0.1) solid;
}
.title {
  font-size: 15px;
  font-weight: bold;
}

.strength {
  font-size: 10px;
}

.product_card > button {
  font-size: 10px;
  border-radius: 50px;
  color: white;
  font-weight: bold;
}

.category {
  position: relative;
  display: inline-block;
  margin-left: 30px;
  background-color: #0b5504dc;
  min-width: 180px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  z-index: 1;
  color: white;
  display: inline-block;
  margin-left: 30px;
  text-align: center;
  align-items: center;
}
